<!-- Footer -->
<div class="wrapper mt-5">
    <footer>
       <div class="py-3">
           <p>Quản lý thư viện NodeJS - 20231</p>
        </div>
   </footer>
</div>
  
   <script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
   
   <script src="/assets/js/popper.min.js"></script>
   
   <script src="/assets/js/bootstrap.min.js"></script>

   <script>
      $(document).ready(function () {
          // Lắng nghe sự kiện click trên các thẻ <a> trong navbar
          $('#myNav a').on('click', function () {
              // Xóa class 'active' từ tất cả các thẻ <li> trong navbar
              $('#myNav li').removeClass('active');
              
              // Thêm class 'active' cho thẻ <li> chứa thẻ <a> được nhấn
              $(this).closest('li').addClass('active');
          });
      });
  </script>
   
   </body>
</html>