<%- include ('./partials/header.ejs') %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 15px;
            padding: 30px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            max-width: 90%;
            max-height: 90%;
            overflow-y: auto;
        }

        h1 {
            color: #333;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .btn {
            margin: 10px;
            padding: 12px 24px;
            font-size: 18px;
            transition: all 0.3s ease;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center">Quản lý thư viện</h1>
            <%- include ('./partials/alerts.ejs') %>
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <a href="/auth/admin/login" class="btn btn-lg btn-primary">Đăng nhập với tư cách Admin</a>
                        <a href="/auth/user/login" class="btn btn-lg btn-secondary">Đăng nhập với tư cách User</a>
                    </div>
                </div>
        </div>

        <%- include ('./partials/footer.ejs') %>