<%- include ('../../partials/header.ejs') %>

  </head>

  <body>

    <!--NAVIGATION BAR FOR ADMIN-->
    <%- include ('../../partials/adminNav.ejs') %>

      <%- include ('../../partials/alerts.ejs') %>

        <div class="container my-4">
          <div class="row justify-content-center">
            <div class="col-md-7">
              <div class="card">
                <div class="card-header text-center">
                  <h4>Thêm sách mới vào kho dữ liệu</h4>
                </div>
                <div class="card-block">
                  <form class="p-3" action="/admin/books/add" method="POST">
                    <div class="form-group">
                      <label class="form-control-label">Title</label>
                      <input type="text" name="book[title]" placeholder="Book Title" class="form-control" required />
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Author Name</label>
                      <input type="text" name="book[author]" placeholder="Author Name" class="form-control" required />
                    </div>

                    <div class="form-group">
                      <label class="form-control-label">Category</label>
                      <input type="text" name="book[category]" placeholder="Book Category" class="form-control"
                        required />
                    </div>

                    <div class="form-group">
                      <label class="form-control-label"> Published At</label>
                      <input type="date" name="book[published_at]" placeholder="Published At"" class=" form-control"
                        required />
                    </div>

                    <div class="form-group">
                      <label class="form-control-label"> Total book</label>
                      <input type="text" name="book[total_book]" placeholder="Total book" class="form-control"
                        required />
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Add Book</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include ('../../partials/footer.ejs') %>